# Essentielles applicatives
fastapi==0.110.0
uvicorn[standard]==0.30.1
pydantic==1.10.14
SQLAlchemy==1.4.52
PyMySQL==1.1.0
psycopg2-binary==2.9.9

# Utilitaires
openpyxl==3.1.2
et-xmlfile==1.1.0

# Sécurité / bas niveau
cryptography==42.0.7
cffi==1.16.0

# Dépendances de dev
black==24.4.2
click==8.1.7
regex==2024.4.16
toml==0.10.2
typing-extensions==4.12.0
